body{
	margin: 0;
	color: #000;
	font: 13px Arial, Helvetica, sans-serif;
	background: #fdfdfd;
}
img{border-style: none;}
a{
	text-decoration: none;
}
a:hover{text-decoration: underline;}
input,
textarea,
select{
	font: 100% arial,sans-serif;
	vertical-align: middle;
}
form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
#wrapper{
	min-width:1024px;
}
.header{
	background:#3a3d40;
	width:100%;
	border-bottom:5px solid #4a4d50;
}
.header-holder{
	margin:auto;
	width:1024px;
	overflow:hidden;

	.logo{
		float:left;
		width:90px;
		height:40px;
		text-indent:-9999px;
		margin:32px 0px 23px 0;
		background:url('../images/logo.png') no-repeat;


	}
}
#header:after{
	content: '';
	display:block;
	clear:both;
}

.main-nav{
	padding:0;
	margin:0;
	list-style:none;
	float:right;

}
.main-nav li{
	display:inline-block;
	background: url(../images/sep01.gif) repeat-y;
}
.main-nav li:first-child{
	border-left:1px solid #292c2d;
}
.main-nav li a{
	display:block;
	padding:49px 20px 27px 19px;
	color:#d4d4d4;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	text-transform: uppercase;
	border-right:1px solid rgb(41,44,45);
}
.main-nav .active{
	color:#86acc4;
	background:#35373a;
}
.main-nav li a:hover{
	color:#86acc4;
	background:#35373a;
}
#main{
	width:1024px;
	margin:auto;
}
#main:after{
	content: "";
	display:block;
	clear:both;
}
.gallery-holder{
	position:relative;
	width:auto;
}
.gallery-holder .next,
.gallery-holder .prev{
	position:absolute;
	top:50%;
	width:35px;
	height:36px;
	text-indent:-9999px;
	overflow:hidden;
	margin-top:18px;
	z-index:2;
}
.gallery-holder .prev{
	left:30px;
	background:url('../images/prev.png');
}
.gallery-holder .next{
	right:30px;
	background:url('../images/next.png');
}
.gallery{
	margin:53px 0;
	overflow:hidden;
	width:1024px;
	height:450px;
	position:relative;
	z-index:1;
}
.gallery ul{
	padding:0;
	margin:0;
	list-style:none;
	width:9999px;
}
.content-block h2,
.content-block h3,
.content-block h4,
.content-block h5{
	padding:0;
	margin:0;
	text-align:center;
	font-width:bold;
	font-size:30px;
	line-height:30px;
	color:#555555;
	text-align:center;
}
.content-block p{
	font-size:20px;
	line-height:28px;
	color:#555555;
	font-family:Regular, Arial;
	text-align:center;
}
.tabs-holder{
	padding-bottom:50px;
	background:url(../images/border.png) 0 100% repeat-x;
	overflow:hidden;
	margin-bottom:50px;
}
.tabset{
	padding:0;
	margin:0;
	list-style:none;
	margin:0 0 -1px;
	position:relative;
	text-align:center;
}
.tabset li{
	display:inline-block;
	border:1px solid #c5c5c5;
	border-width:1px 1px 0 0;
	line-height:32px;
	width:120px;
}
.tabset li:first-child{
	border-width:1px 1px 0;
}
.tabset a{
	display:block;
	padding:0 20px;
	background:#f8f8f8;
	color:#555555;
	font-weight:bold;
}
.tabset .active a{
	background: #fff;
	color: #6b99b6;
	padding-bottom: 1px;
}
.tabset a:hover{
	background:#fff;
}
.tab{
	border-top: 1px solid #c5c5c5;
	display:none;
	color:#555555;
}
.tab img{
	float:left;
	overflow:hidden;
	margin:28px 27px 0 0;
}
.tab h3{
	color:#555555;
	font-size:17px;
	margin:10px 0 0 0;
	padding:0;
	font-weight:bold;
	line-height:50px;
}
.tab p{
	padding:0;
	margin:0 0 15px 0;
	line-height:22px;
}
.advantages{
	float:left;
	margin-left:-20px;
	list-style-image:url(../images/check.png);
}
.advantages li{
	line-height:22px;
}
.tab.active{
	display:block;
}
.projects,
.post-best{
	overflow:hidden;
	padding-bottom:50px;
	background:url(../images/border.png) 0 100% repeat-x;
	margin-bottom:50px;
	padding-top:30px;
}
.projects-list{
	padding:0px;
	margin:15px 0 0 0;
	list-style:none;
}
.projects-list li{
	display:inline-block;
	width:332px;
	height:252px;
	margin-right:8px;
	margin-bottom:11px;
}
.projects-list .row{
	margin:0;
}
.projects-list li img{
	width:100%;
	height:100%;
}
.post-left{
	float:left;
	width:460px;
}
.post-right{
	float:right;
	width:460px;
}
.date{
	float:left;
	overflow:hidden;
	padding:7px 15px 15px 13px;
	height:61px;
	width:35px;
	background:url('../images/date-bg.png') no-repeat;
	font-size:18px;
	line-height:20px;
	color:#555555;
}
.post-content strong{
	font-size:17px;
	line-height:30px;
	display:block;
	margin-top:-8px;
	color:#555555;
}
.post-content p{
	padding:0;
	margin:0;
	color:#555555;
	font-size:13px;
	line-height:22px;
}
.post-tags{
	padding:0;
	margin:0;
	list-style:none;
}
.post-tags li{
	display:inline-block;
	padding-top:5px;
	margin-bottom:45px;
}
.post-tags li a{
	color:#6b99b6;
}
.customers-list{
	padding:0;
	margin:0;
	list-style:none;
	margin:45px 0;
}
.customers-list li{
	display:inline-block;
	vertical-align:middle;
	margin-right:30px;
	width:142px;
}
.customers-list li:last-child{
	margin-right:0px;
}
.customers-list li img{
	width:100%;
	height:100%;
}
#footer{
	background:#3a3d40;
	width:100%;
	border-top:5px solid #2f3235;
}
.footer-holder{
	width:1024px;
	margin:auto;
}
.ft-column{
	display:inline-block;
	width:218px;
	margin-right:32px;
	margin-top:15px;
	vertical-align:top;
	color:#bfbfbf;
	font-size:13px;
	line-height:25px;
}
.ft-column:last-child{
	margin-right:0;
}
.ft-column strong{
	display:block;
	font-size:14px;
	font-family:Regular;
	color:#e3e3e3;
	line-height:22px;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:30px;
}
.ft-column ul{
	margin:0;
	padding:0;
	list-style:none;
}
.popular-list time{
	color:#899096;
	font-size:11px;
}
.popular-list li{
	line-height:22px;
	padding-bottom:15px;
}
.border{
	background:url(../images/ftbg.png) 0 0 repeat-x;
}
.tw:before{
	display: inline-block;
	width: 27px;
	height: 13px;
	vertical-align: middle;
	content: '';
	background: url(../images/tw-icon.png) no-repeat;
}
.twitter-list li{
	padding-bottom:20px;
}
.twitter-list li a{
	color:#86acc4;
}
.about-list li{
	padding-bottom:30px;
}
.contact-form input[type="text"]{
	margin-bottom:15px;
	padding:5px;
	width:210px;
	height:20px;
	background:#282b2d;
	border:none;
}
.contact-form textarea{
	height:130px;
	padding:5px;
	width:210px;
	background:#282b2d;
	border:none;
	margin-bottom:15px;
}
.contact-form input[type="submit"]{
	color:#ffffff;
	font-size:13px;
	line-height:25px;
	padding:5px 40px;
	background:#5e7c8f;
	border:none;
	font-weight:bold;
	font-family:regular;
	cursor:pointer;
}
.bottom-bar{
	width:100%;
	border-top:3px solid #24272a;
	background:#2f3235;

}
.bar-wrap{
	padding:35px 0 35px 0;
	margin:auto;
	width:1024px;
}
.bottom-bar span{
	color:#bfbfbf;
	font-size:13px;
}
.bottom-bar a{
	color:#86acc4;
}
.bottom-bar .social{
	margin:0;
	padding:0;
	width:180px;
	float:right;
	list-style:none;
}
.bottom-bar .social li{
	width:25px;
	height:25px;
	margin-right:5px;
	float:left;
}
.bottom-bar .social li a{
	display:inline-block;
	width:100%;
	height:100%;
}
.social .rss{
	background: url(../images/rss.png) no-repeat;
}
.social .facebook{
	background: url(../images/facebook.png) no-repeat;
}
.social .twitter{
	background: url(../images/twitter.png) no-repeat;
}
.social .pint{
	background: url(../images/pint.png) no-repeat;
}
.social .dribb{
	background: url(../images/dribb.png) no-repeat;
}
.social .linkin{
	background: url(../images/linkin.png) no-repeat;
	margin-right:0;
}