body{
	margin: 0;
	color: #e8eaec;
	font: 12px Tahoma Regular, Arial;
	background: #fff;
}
img{border-style: none;}
a{
	text-decoration: none;
	color: #000;
}
a:hover{text-decoration: underline;}
input,
textarea,
select{
	font: 100% arial,sans-serif;
	vertical-align: middle;
}
form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
header, footer, article, section, hgroup, nav, figure { display: block; }
#wrapper{	
	width: 100%
	overflow: hidden;
	position: relative;	
}
.wrap1{
	width: 1366px;
	position: relative;
	float: left;
	left: 50%;
}
.wrap2{
	width: 1366px;
	position: relative;
	float: left;
	left: -50%;
	background: url(../images/main-bg-top.png) repeat-x, url(../images/main-bg-bot.png) 0 100% repeat-x, url(../images/main-fon.jpg) repeat-y;
}
#header{
	margin: 0 auto;
	width: 957px;
	overflow: hidden;
}
.header-bar{
	background: #00345d;
	-webkit-border-radius: 0 0 12px 12px;
	border-radius: 0 0 16px 16px;	
	overflow: hidden;
	padding: 10px 22px 10px 21px;
}
.social-autorized{
	display: inline-block;
	float: left;
	margin-top: 6px;
}
.soc-lable {
	font-family: Arial Regular;
	float: left;
}
.social-autorized ul{
	list-style: none;
	font-size: 0;
	margin-left: 18px;
	padding: 0;
	float: left;
}
.social-autorized li{
	display: inline-block;
}
.social-autorized li a{
	display: inline-block;
	margin-left: 7px;
	width: 16px;
	height: 16px;
}
.social-autorized li:first-child{
	margin-left: 0;
}
.social-autorized .vk{
	background: url(../images/social.png) no-repeat;
}
.social-autorized .tw{
	background: url(../images/social.png) -23px no-repeat;
}
.social-autorized .mr{
	background: url(../images/social.png) -46px no-repeat;
}
.social-autorized .fb{
	background: url(../images/social.png) -69px no-repeat;
}
.social-autorized .rss{
	background: url(../images/social.png) -92px no-repeat;
}
.account{
	margin: 5px 0 0 60px;
	float: left;
	padding-left: 15px;
	background: url(../images/account-icon.png) no-repeat;
}
.account span{	
	font-family: Arial Bold;
	color: #4f9fe4;
	border-bottom: 1px dotted #4f9fe4;
}
.ad{
	font-family: Arial Regular;
	margin: 0 0 0 66px;
	display: inline-block;
	width: 253px;
}
.icons-nav{
	list-style: none;
	font-size: 0;
	padding: 0;
	float: right;
	margin-top: 4px;	
}
.icons-nav li{
	display: inline-block;
	margin-left: 40px;
}
.icons-nav li:first-child{
	margin-left: 0;
}
.icons-nav a{
	display: inline-block;
	width: 14px;
	height: 14px;
}
.icons-nav .home{
	background: url(../images/home-blue-icon.png) no-repeat;
}
.icons-nav .home:hover{
	background: url(../images/home-white-icon.png) no-repeat;
}
.icons-nav .email{
	background: url(../images/mail-blue-icon.png) no-repeat;
}
.icons-nav .email:hover{
	background: url(../images/mail-white-icon.png) no-repeat;
}
.icons-nav .structure{
	background: url(../images/tree-blue-icon.png) no-repeat;
}
.icons-nav .structure:hover{
	background: url(../images/tree-white-icon.png) no-repeat;
}
.header-nav{
	margin-top: 3px;
	height: 95px;
	background: #ffffff;
	overflow: auto;
	border-radius: 16px;
}
.header-nav h1 {
	font-size: 0;
	width: 190px;
	height: 54px;
	margin: 9px 0 0 33px;
	background: url(../images/logo.png) no-repeat;
	float: left;
}
.nav-wrap1{
	margin: 29px 0 0 33px;
	float: left;
	padding-left: 14px;
	background: url(../images/nav-bg-l.png) no-repeat;
}
.nav-wrap2{
	float: right;
	padding-right: 14px;
	background: url(../images/nav-bg-r.png) 100% no-repeat;
}
#nav {
	font-size: 0;
	background: #1199e5;
	background: url(../images/nav-bg-m.png) repeat-x;
	width: 654px;
}
#nav a {
	font-size: 20px;
	display: inline-block;
	font-family: Myriad Pro;
	color: #ffffff;
	text-shadow: 1px 1px #044a7c;
	padding: 4px 0 4px 0;
	position: relative;
}
#nav a:before{
	content: '';
	position: absolute;
	width: 2px;
	height: 25px;
	left: 0;
	background: url(../images/nav-sep.png) no-repeat;
}
#nav a:first-child:before{
	display: none;
}
#nav a.active {
	position: relative;
	background: linear-gradient(to top, #f47b25, #ffbe4f);	
	border-radius: 4px;
}
#nav a.active:before{
	display: none;
}
#nav a.active:after {
	content: '';
    position: absolute;
    background: #f47b25;     
	bottom: -4px;
	left: 45%;
    width: 8px; 
	height: 8px;       
    transform: rotate(45deg);
}
.container {
	margin: 0 auto;
	width: 957px;
	overflow: hidden;
}
.small-banner {
	overflow: auto;
	background: #feb94f;
	border-radius: 16px;
	color: #ffffff;
	background: linear-gradient(to top, #ff6400, #ffd278);
}
.small-banner .banner-content {
	padding: 18px 20px 11px 19px;
	width: 636px;
	overflow: hidden;
	float: left;
	position: relative;
}
.small-banner .banner-content:after{
	content: '';
	position: absolute;
	width: 2px;
	height: 112px;
	right: 0;
	top: 0;
	background: url(../images/sm-banner-border.png) no-repeat;
}
.small-banner .banner-content h3 {
	margin: 0 0 10px 0;
	font-family: Myriad Pro, Tahoma Regular, Arial;
	font-size: 27px;
	font-weight: bold;
	font-stretch: condensed;
	text-shadow: 1px 1px #9c6216;
	float: left;	
}
.small-banner .banner-content .banner-info {
	width: 434px;
	float: left;
	font-size: 13px;
	text-shadow: 1px 1px #9c6216;
}
.small-banner .banner-content .banner-info span {
	float: left;
}
.small-banner .banner-content .more {
	float: right;
	font-size: 18px;
	font-weight: bold;
	font-stretch: condensed;
	padding: 7px 13px 6px 15px;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	border-radius: 4px;
	background: #9e3000;
}
.small-banner .banner-content .more:after {
	content: '';
    position: absolute;
    background: inherit;     
	left: 98%;
	top: 37%;
    width: 8px; 
	height: 8px;       
    transform: rotate(45deg);
}
.small-banner .contact-us {
	width: 278px;
	float: right;
	padding-top: 22px;
}
.contact-us .social{
	list-style: none;
	font-size: 0;
	padding: 0;
	float: left;
	text-shadow: 1px 1px #9c6216;
	margin-top: 4px;
}
.contact-us .social li{
	float: left;
}
.contact-us .social li a{
	float: left;
	margin-left: 9px;
	font-size: 12px;
	height: 16px;
}
.contact-us .social li a span {
	float: left;
	margin-left: 18px;
	color: #ffffff;
	text-shadow: 1px 1px #9c6216;
}
.contact-us .social li a.lable{
	display: inline-block;
}
.contact-us .social .vk{
	background: url(../images/vk-icon.png) no-repeat;
}
.contact-us .social .mr{
	background: url(../images/mr-icon.png) no-repeat;
}
.contact-us .social .fb{
	background: url(../images/fb-icon.png) no-repeat;
}
.banner-form {
	float: left;
	overflow: hidden;
}
.banner-form #email-input {
	float: left;
	margin: 13px 0 0 19px;
	width: 190px;
	height: 30px;
	padding-left: 5px;
	border: none;
	border-radius: 4px;	
	box-shadow: 0 0 2px #000000;
}
.banner-form lable {
	float: left;
	margin: 8px 0 0 22px;
	text-shadow: 1px 1px #9c6216;
}
.banner-form input[type='submit'] {
	margin: 13px 0 0 5px;
	border: none;
	border-radius: 4px;
	padding: 6px 12px 5px 10px;
	background: #a43400;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 18px;
}
.big-banner {
	overflow: hidden;
}
.big-banner .info {
	width: 633px;
	height: 335px;
	float: left;
	overflow: hidden;
	border-radius: 16px;
	background: #ffffff;
}
.big-banner .info img {
	float: left;
}
.big-banner .info .content {
	float: right;
	width: 257px;
	padding: 29px 27px 0 0;	
}
.big-banner .info .content h3 {
	margin: 0;
	font-family: Myriad Pro, Tahoma Regular, Arial;
	font-size: 28px;
	color: #212121;
}
.big-banner .info .content .brand {
	width: 252px;
	height: 84px;
	margin-top: 26px;
	background: url(../images/banner-brand.jpg) no-repeat;
}
.big-banner .info .content p {	
	margin-top: 22px;
	color: #1b1b1b;
	font-size: 12px;
}
.big-banner .sidebar {
	float: right;		
}
.big-banner .sidebar .item {
	width: 320px;
	height: 110px;
	overflow: hidden;
	position: relative;
	background: #ffffff;
	margin-top: 2px;
	border-radius: 16px;
}
.big-banner .sidebar .item .prize-number {
	position: absolute;
	width: 131px;
	height: 131px;
	border-radius: 50%;
	top: -14px;
	left: -32px;
	color: #ffffff;
}
.big-banner .sidebar .item:nth-child(1) .prize-number {
	background: #00adf0;
}
.big-banner .sidebar .item:nth-child(2) .prize-number {
	background: #fc5344;
}
.big-banner .sidebar .item:nth-child(3) .prize-number {
	background: #fdb247;
}
.big-banner .sidebar .item .number {
	text-align: center;
	display: block;
	font-family: Myriad Pro;
	font-size: 69px;
	font-style: normal;
	font-weight: bold;
	margin-top: 10px;
}
.big-banner .sidebar .item .prize {
	text-align: center;
	display: block;
	font-family: Myriad Pro;
	font-size: 27px;
	font-style: normal;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 10px;
}
.big-banner .sidebar .item img {
	float: left;
	margin-left: 85px;
}
.big-banner .sidebar .item .lable {
	float: right;
	width: 55px;
}
.big-banner .sidebar .item .lable p {
	font-family: Myriad Pro;
	font-size: 26px;
	color: #0073c8;
	padding: 0;
	margin-left: -10px;
	font-weight: bold;
}
.banner-bar {
	overflow: auto;
}
.banner-bar .involved {
	display: inline-block;
	position: relative;
	margin-top: 9px;
	margin-left: 127px;
	width: 210px;
	height: 27px;
	background: #f7f7f7;
	color: #1b1b1b;
	overflow: hidden;
	border-radius: 16px;
}
.banner-bar .involved .inv-line {
	width: 72px;
	position: absolute;
	background: #fba841;
	height: 100%;
	z-index: 1;
}
.banner-bar .involved span {
	display: block;
	position: absolute;
	margin: 8px 58px 8px 50px;
	font-size: 12px;
	z-index: 2;
	font-family: Tahoma Regular;
	font-size: 12px;
}
.banner-bar .involved span em {
	font-style: normal;
	font-weight: bold;
}
.banner-bar .left {
	display: inline-block;	
	vertical-align: top;
	margin-top: 7px;
	margin-left: 6px;
	background: #f7f7f7;	
	color: #1b1b1b;
	border-radius: 16px;
	background: #262626;
}
.banner-bar .left span {
	display: block;
	padding: 8px 13px 8px 35px;
	color: #ffffff;
	background: url(../images/clock.png) 5px 50% no-repeat;
	left: 0;
}
.banner-bar .buttons {
	float: right;
	margin-top: 6px;
}
.banner-bar .involve {
	float: left;
	font-size: 18px;
	line-height: 18px;
	font-family: Myriad Pro, Tahoma Regular, Arial;
	font-weight: bold;
	font-stretch: condensed;
	padding: 9px 30px 8px 31px;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	border: none;
	border-radius: 4px;
	background: #0059cd;
}
.banner-bar .involve:after {
	content: '';
    position: absolute;
    background: inherit;     
	left: 98%;
	top: 37%;
    width: 8px; 
	height: 8px;       
    transform: rotate(45deg);
}
.banner-bar .vote {
	float: left;
	font-size: 18px;
	line-height: 18px;
	font-family: Myriad Pro, Tahoma Regular, Arial;
	font-weight: bold;
	font-stretch: condensed;
	padding: 9px 30px 8px 31px;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	background: linear-gradient(to top, #ff6200, #ffcf78);
	margin-left: 23px;
}
.main{	
	margin: 0 auto;
	margin-top: 13px;
	width: 923px;
	overflow: hidden;
	padding: 18px 19px 15px 15px;
	background: #00345d;
	border-radius: 16px;
	color: #ffffff;
}
.main #content {
	width: 608px;
	margin-right: -10px;
	overflow: hidden;
	float: left;
}
.main #content h2 {
	margin: 0;
	font-family: Myriad Pro;
	font-size: 28.69px;
	font-weight: bold;
	font-stretch: condensed;
	text-shadow: 1px 1px #000000;
}
.works .tabset{
	padding: 0;
	margin: 15px 0 0 57px;
	list-style: none;	
	background: #145680;
	font-size: 0;
	display: inline-block;
	border-radius: 20px;
}
.works .tabset li{
	display: inline-block;
}
.works .tabset a{
	display: inline-block;
	padding: 7px 27px 10px 27px;
	font-family: Myriad Pro;
	font-size: 20px;
	line-height: 20px;
	font-stretch: condensed;		
	color: #ffffff;
	text-shadow: 1px 1px #145680;
	outline-color: transparent;
}
.works .tabset .active a{
	position: relative;
	background: linear-gradient(to top, #0066b8, #0091ff);
	border-radius: 4px;
}
.works .tabset .active a:after{	
    content: '';
    position: absolute;
    background: #0066b8;     
	bottom: -4px;
	left: 45%;
    width: 8px; 
	height: 8px;       
    transform: rotate(45deg);
}
.works .tab {	
	margin-top: 17px;
}
.works .tab.active {
	display: block;
}
.works .tab-content {
	font-size: 0;	
	margin-right: -10px;
}
.works .tab-content .work {
	display: inline-block;
	width: 274px;
	padding: 12px 12px 12px 13px;
	background: #ffffff;
	border-radius: 14px;
	margin: 10px 10px 0 0;
}
.works .tab-content .work h3 {
	font-size: 20px;
	line-height: 20px;
	font-family: Myriad Pro, Tahoma Regular, Arial;
	font-weight: bold;
	font-stretch: condensed;
	color: #113a5a;
	margin: 6px 0 0 0;
	float: left;
}
.works .tab-content .work .cr{
	color: #000000;
	font-size: 12px;
	float: left;
}
.works .tab-content .work .vote{
	margin: 7px 20px 0 0;
	font-size: 18px;
	line-height: 18px;
	font-family: Myriad Pro, Tahoma Regular, Arial;
	font-weight: bold;
	font-stretch: condensed;
	padding: 10px;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	background: linear-gradient(to top, #ff6200, #ffcf78);
	float: right;
}
.main .sidebar {
	margin-top: 5px;
	width: 265px;
	float: right;
}
.main .sidebar .event{
	padding: 18px 16px 15px 9px;
	background: url(../images/sb-bg.png) repeat-x;
	overflow: hidden;
	color: #ffffff;
	border-radius: 6px;
	margin-top: 18px;
}
.main .sidebar .event .event-content {
	float: right;
	width: 171px;
}
.main .sidebar .event .event-content p{
	font-size: 12px;
	line-height: 14px;
	float: left;
	letter-spacing: 0px;
	margin: 0;
	margin-bottom: 4px;
}
.main .sidebar .event .event-content time {
	color: #00afff;
}
.main .sidebar .event:hover{
	background: url(../images/sb-bg-hover.png) repeat-x;
}
.main .sidebar .event:hover p{
	color: #9fdcff;
	text-decoration: underline;
}
#footer{
	margin: 0 auto;
	width: 957px;
	overflow: hidden;
	margin-top: 8px;
}
.big-footer {
	padding: 12px 12px 12px 17px;
	background: url(../images/big-footer-bg.png) repeat-x, #ffffff;
	border-radius: 16px;
	overflow: hidden;
	position: relative;
}
.big-footer h2 {	
	margin-top: 4px;
	font-size: 29px;
	line-height: 29px;
	font-family: Myriad Pro, Tahoma Regular, Arial;
	font-weight: bold;
	font-stretch: condensed;
	color: #113a5a;
}
.big-footer .winners {
	margin-top: 16px;
	float: left;
}
.big-footer .winners #l-arrow {
	float: left;
	width: 17px;
	height: 45px;
	margin: 42px 0 0 0;
	background: url(../images/slide-arrow.png) no-repeat;
}
.big-footer .winners section {
	float: left;
	overflow: hidden;
	font-size: 0;
	position: relative;
	width: 524px;
	height: 167px;
	margin-left: 17px;
}
.big-footer .winners .winner {
	display: inline-block;
	width: 137px;
	overflow: hidden;
	font-size: 12px;
	line-height: 12px;
	float: left;
	letter-spacing: 0px;
	position: absolute;
}
.big-footer .winners .winner .name {	
	color: #1b1b1b;
	border-bottom: 1px dotted #2186b5;
	margin-top: 16px;
}
.big-footer .winners .winner .prize {
	color: #2186b5;
	margin: 5px 0 0 0;
}
.big-footer .winners #r-arrow {
	float: left;
	width: 17px;
	height: 45px;
	margin: 42px 0 0 15px;
	background: url(../images/slide-arrow.png) no-repeat;
	transform: rotate(180deg);
}
.big-footer .take-part {
	float: right;
	width: 250px;
	position: absolute;
	top: 12px;
	right: 12px;
	bottom: 12px;
	border: 1px solid #a9e5ff;
	box-shadow: 0 0 5px #a9e5ff;
	border-radius: 12px;
	background: url(../images/take-part-bg.png) 0 100% repeat-x, #ffffff;
	padding: 24px 27px;
}
.take-part button {
	font-size: 26px;
	line-height: 26px;
	font-family: Myriad Pro, Tahoma Regular, Arial;
	font-weight: bold;
	font-stretch: condensed;
	padding: 13px 32px 15px 32px;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	border: none;
	border-radius: 4px;
	background: #0059cd;
}
.take-part button:after {
	content: '';
    position: absolute;
    background: inherit;     
	left: 98%;
	top: 38%;
    width: 10px; 
	height: 10px;       
    transform: rotate(45deg);
}
.take-part .content {
	margin: 19px 7px 0;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
}
.take-part .won {
	display: block;
	margin: 18px 7px 0;
	font-size: 12px;
	line-height: 12px;
	color: #0090ff;
	font-weight: bold;
}
.small-footer {
	background: url(../images/sm-footer-bg.png);
	margin-top: -16px;
	padding: 36px 0 48px 60px;
	overflow: hidden;
}
.small-footer .footer-nav {
	width: 160px;
	float: left;
	margin-top: -8px;
}
.small-footer .footer-nav a {
	display: block;
	font-size: 12px;
	line-height: 12px;
	color: #5ab0d8;
	margin-top: 8px;
}
.small-footer .info {
	width: 300px;
	float: left;
	margin-left: 50px;
}
.small-footer .info h3 {
	margin: 0;	
	font-size: 18px;
	line-height: 18px;
	font-family: Myriad Pro, Tahoma Regular, Arial;
	font-weight: bold;
	font-stretch: condensed;
	text-transform: uppercase;
	color: #59b0d8;
}
.small-footer .info p {
	margin: 10px 0 0 0;	
	font-size: 12px;
	line-height: 12px;
	color: #c1dae5;
}