body{
	margin: 0;
	color: #e8eaec;
	font: 12px Tahoma Regular, Arial;
	background: #fff;
}
img{border-style: none;}
a{
	text-decoration: none;
	color: #000;
}
a:hover{text-decoration: underline;}
input,
textarea,
select{
	font: 100% arial,sans-serif;
	vertical-align: middle;
}
form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
header, footer, article, section, hgroup, nav, figure { display: block; }
#wrapper{	
	width: 100%
	overflow: hidden;
	position: relative;	
}
.wrap1{
	width: 1366px;
	position: relative;
	float: left;
	left: 50%;
}
.wrap2{
	width: 1366px;
	position: relative;
	float: left;
	left: -50%;
	background: url(../images/main-fon.jpg) no-repeat;
}
#header{
	margin: 0 auto;
	width: 957px;
	overflow: hidden;
}
#footer{
	margin: 0 auto;
	width: 957px;
	overflow: hidden;
}
.header-bar{
	background: #00345d;
	-webkit-border-radius: 0 0 12px 12px;
	border-radius: 0 0 16px 16px;	
	overflow: hidden;
}
.social-autorized{
	display: inline-block;
	margin: 0 0 0 21px;
}
.soc-lable {
	font-family: Arial Regular;
	float: left;
}
.social-autorized ul{
	list-style: none;
	font-size: 0;
	margin-left: 18px;
	padding: 0;
	float: left;
}
.social-autorized li{
	display: inline-block;
}
.social-autorized li a{
	display: inline-block;
	margin-left: 7px;
	width: 16px;
	height: 16px;
}
.social-autorized li:first-child{
	margin-left: 0;
}
.social-autorized .vk{
	background: url(../images/social.png) no-repeat;
}
.social-autorized .tw{
	background: url(../images/social.png) -23px no-repeat;
}
.social-autorized .mr{
	background: url(../images/social.png) -46px no-repeat;
}
.social-autorized .fb{
	background: url(../images/social.png) -69px no-repeat;
}
.social-autorized .rss{
	background: url(../images/social.png) -92px no-repeat;
}
.account{
	margin: 12px 0 0 60px;
	display: inline-block;
	padding-left: 15px;
	background: url(../images/account-icon.png) no-repeat;
}
.account span{	
	font-family: Arial Bold;
	color: #4f9fe4;
	border-bottom: 1px dotted #4f9fe4;
}
.ad{
	font-family: Arial Regular;
	margin: 10px 0 10px 66px;
	display: inline-block;
	width: 253px;
}
.icons-nav{
	display: inline-block;
	list-style: none;
	font-size: 0;
	margin-left: 72px;
	padding: 0;
}
.icons-nav li{
	display: inline-block;
	margin-left: 40px;
}
.icons-nav li:first-child{
	margin-left: 0;
}
.icons-nav a{
	display: inline-block;
	width: 14px;
	height: 14px;
}
.icons-nav .home{
	background: url(../images/home-icon.png) no-repeat;
}
.icons-nav .email{
	background: url(../images/mail-icon.png) no-repeat;
}
.icons-nav .structure{
	background: url(../images/tree-icon.png) no-repeat;
}
.header-nav{
	margin-top: 3px;
	height: 95px;
	background: #ffffff;
	overflow: auto;
	border-radius: 16px;
}
.header-nav h1 {
	font-size: 0;
	width: 190px;
	height: 54px;
	margin: 9px 0 0 33px;
	background: url(../images/logo.png) no-repeat;
	float: left;
}
#nav {
	float: left;
	margin: 29px 0 0 33px;
	font-size: 0;
	background: #1199e5;
	border-radius: 16px;
}
#nav a {
	font-size: 20px;
	display: inline-block;
	font-family: Myriad Pro Condensed;
	color: #ffffff;
	padding: 5px 25px 7px 24px;
}
#nav a:last-child{
	padding-right: 42px;
}
#nav a.active {
	position: relative;
	background: #f47a24;
}
#nav a.active:after {
	content: '';
    position: absolute;
    background: inherit;     
	bottom: -4px;
	left: 45%;
    width: 8px; 
	height: 8px;       
    transform: rotate(45deg);
}
.container {
	margin: 0 auto;
	width: 957px;
	overflow: hidden;
}
.small-banner {
	overflow: auto;
	background: #feb94f;
	border-radius: 16px;
	color: #ffffff;
}
.small-banner .banner-content {
	padding: 18px 20px 11px 19px;
	width: 636px;
	overflow: hidden;
	float: left;
}
.small-banner .banner-content h3 {
	margin: 0 0 10px 0;
	font-family: Myriad Pro;
	font-size: 27px;
	float: left;	
}
.small-banner .banner-content .banner-info {
	width: 434px;
	float: left;
	font-size: 13px;
}
.small-banner .banner-content .banner-info span {
	float: left;
}
.small-banner .banner-content .more {
	float: right;
	font-family: Myriad Pro;
	font-size: 18px;
	padding: 7px 13px 6px 15px;
	background: #a43400;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	border-radius: 4px;
}
.small-banner .banner-content .more:after {
	content: '';
    position: absolute;
    background: inherit;     
	left: 97%;
	top: 35%;
    width: 8px; 
	height: 8px;       
    transform: rotate(45deg);
}
.small-banner .contact-us {
	width: 278px;
	float: right;
	padding-top: 22px;
}
.contact-us .social{
	list-style: none;
	font-size: 0;
	padding: 0;
	float: left;
	vertical-align: middle;
}
.contact-us .social li{
	display: inline-block;
	font-size: 12px;
}
.contact-us .social li a.soc{
	display: inline-block;
	margin-left: 9px;
	width: 16px;
	height: 16px;
}
.contact-us .social li a.lable{
	display: inline-block;
}
.contact-us .social .vk{
	background: url(../images/social.png) no-repeat;
}
.contact-us .social .mr{
	background: url(../images/social.png) -46px no-repeat;
}
.contact-us .social .fb{
	background: url(../images/social.png) -69px no-repeat;
}
.banner-form {
	float: left;
	overflow: hidden;
}
.banner-form #email-input {
	float: left;
	margin: 13px 0 0 19px;
	width: 190px;
	height: 30px;
	padding-left: 5px;
	border: none;
	border-radius: 4px;
}
.banner-form lable {
	float: left;
	margin: 8px 0 0 22px;
}
.banner-form input[type='submit'] {
	margin: 13px 0 0 5px;
	border: none;
	border-radius: 4px;
	padding: 6px 12px 5px 10px;
	background: #a43400;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 18px;
}
.big-banner {
	overflow: hidden;
}
.big-banner .info {
	width: 633px;
	height: 335px;
	float: left;
	overflow: hidden;
	border-radius: 16px;
	background: #ffffff;
}
.big-banner .info img {
	float: left;
}
.big-banner .info .content {
	float: right;
	width: 257px;
	padding: 29px 27px 0 0;	
}
.big-banner .info .content h3 {
	margin: 0;
	font-family: Myriad Pro;
	font-size: 28px;
	color: #212121;
}
.big-banner .info .content .brand {
	width: 252px;
	height: 84px;
	margin-top: 26px;
	background: url(../images/banner-brand.jpg) no-repeat;
}
.big-banner .info .content p {	
	margin-top: 22px;
	color: #1b1b1b;
	font-size: 12px;
}
.big-banner .sidebar {
	float: right;		
}
.big-banner .sidebar .item {
	width: 320px;
	height: 110px;
	overflow: hidden;
	position: relative;
	background: #ffffff;
	margin-top: 2px;
	border-radius: 16px;
}
.big-banner .sidebar .item .prize-number {
	position: absolute;
	width: 131px;
	height: 131px;
	border-radius: 50%;
	top: -14px;
	left: -32px;
	color: #ffffff;
}
.big-banner .sidebar .item:nth-child(1) .prize-number {
	background: #00adf0;
}
.big-banner .sidebar .item:nth-child(2) .prize-number {
	background: #fc5344;
}
.big-banner .sidebar .item:nth-child(3) .prize-number {
	background: #fdb247;
}
.big-banner .sidebar .item .number {
	text-align: center;
	display: block;
	font-family: Myriad Pro;
	font-size: 69px;
	font-style: normal;
	font-weight: bold;
}
.big-banner .sidebar .item .prize {
	text-align: center;
	display: block;
	font-family: Myriad Pro;
	font-size: 27px;
	font-style: normal;
	text-transform: uppercase;
	font-weight: bold;
}
.big-banner .sidebar .item img {
	float: left;
	margin-left: 85px;
}
.big-banner .sidebar .item .lable {
	float: right;
	width: 55px;
}
.big-banner .sidebar .item .lable p {
	font-family: Myriad Pro;
	font-size: 26px;
	color: #0073c8;
	padding: 0;
}
.banner-bar {
	overflow: auto;
}
.banner-bar .involved {
	display: inline-block;
	position: relative;
	margin-top: 9px;
	margin-left: 127px;
	width: 210px;
	background: #f7f7f7;
	color: #1b1b1b;
	overflow: hidden;
	border-radius: 16px;
}
.banner-bar .involved .inv-line {
	width: 72px;
	position: absolute;
	background: #fba841;
	height: 100%;
	z-index: 1;
}
.banner-bar .involved span {
	display: block;
	margin: 8px 58px 8px 50px;
	font-size: 12px;
	z-index: 2;
}
.banner-bar .involved span em {
	font-style: normal;
	font-weight: bold;
}
.banner-bar .left {
	display: inline-block;	
	margin-top: 7px;
	margin-left: 6px;
	background: #f7f7f7;	
	color: #1b1b1b;
	border-radius: 16px;
	background: #262626;
}
.banner-bar .left span {
	display: block;
	padding: 8px 13px 8px 35px;
	color: #ffffff;
	background: url(../images/clock.png) no-repeat;
	left: 0;
}
.main{	
	margin: 0 auto;
	width: 923px;
	overflow: hidden;
	padding: 18px 19px 15px 15px;
	background: #00345d;
	border-radius: 16px;
	color: #ffffff;
}
.main #content {
	width: 608px;
	float: left;
}
.main #content h2 {
	margin: 0;
	font-family: Myriad Pro;
	font-size: 28.69px;
	font-weight: bold;
	font-stretch: condensed;
}
.main .sidebar {
	width: 295px;
	float: right;
}
.works .tabset{
	padding: 0;
	margin: 15px 0 0 57px;
	list-style: none;	
	background: #145680;
	font-size: 0;
	display: inline-block;
	border-radius: 20px;
}
.works .tabset li{
	display: inline-block;
}
.works .tabset a{
	display: inline-block;
	padding: 7px 27px 10px 27px;
	font-family: Myriad Pro;
	font-size: 20px;
	font-stretch: condensed;		
	color: #ffffff;
}
.works .tabset .active a{
	position: relative;
	background: #0088f0;
	border-radius: 4px;
}
.works .tabset .active a:after{	
    content: '';
    position: absolute;
    background: inherit;     
	bottom: -4px;
	left: 45%;
    width: 8px; 
	height: 8px;       
    transform: rotate(45deg);
}
.works .tab {
	display: none;
}
.works .tab.active {
	display: block;
}
.works .tab-content {
	font-size: 0;
	margin-top: 17px;
}
.works .tab-content .work {
	display: inline-block;
	width: 274px;
	padding: 12px 12px 12px 13px;
	background: #ffffff;
	border-radius: 14px;
	margin: 10px 10px 0 0;
}
.works .tab-content .work:nth-child(2n) {
	margin-right: 0;
}