body{
	margin: 0;
}
img{border-style: none;}
a{
	text-decoration: none;
	color: #000;
}
a:hover{text-decoration: underline;}
input,
textarea,
select{
	font: 100% arial,sans-serif;
	vertical-align: middle;
}
form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}

#wrapper{
	background:#cb2a27;
	min-width:1024px;
}
#header{
	width:100%;
	height:143px;
	background:url("../images/header.png") 50% 0% no-repeat;
	posistion:relative;
}
.header-holder{
	width:1024px;
	margin:0 auto;
}
.hd-gr{
	display:block;
	width:auto;
	height:143px;
	background:url("../images/logo.png") no-repeat 50% 0%;
}
#header:after{
	display:block;
	content: "";
	clear:both;
}
.nav{
	width:100%;
	height:44px;
	background:url("../images/nav.png") ;
}
.nav-holder{
	width:1024px;
	margin:0 auto;
}
.nav ul{
	margin:0;
	padding:0;
	list-style: none;
}
.nav ul li{
	float:left;
}
.nav ul li a{
	font-family:Arial Narrow;
	color:#ffffff;
	line-height:30px;
	font-size:16px;
	display:inline-block;
	padding:7px 34px;
}
.nav ul li a:hover{
	background:url("../images/hover-nav.png") 100% 100% no-repeat;
	background-size: cover;
	border-radius: 3px;
}
.tittle{
	margin:0;
	padding:0;
	position:absolute;
	left:5px;
	font-family:Arial Narrow;
	color:#ffffff;
	font-size:20px;
	width:300px;
}
.phone{
	position:absolute;
	font-size:20px;
	font-family:Arial Narrow;
	font-weight:bold;
	color:#ffffff;
	right:-25px;
	width:400px;
	top:-20px;
}