body{
	margin: 0;
	color: #000;
	font: 11px Arial, Helvetica, sans-serif;
	background: #fff;
}
img{border-style: none;}
a{
	text-decoration: none;
	color: #000;
}
a:hover{text-decoration: underline;}
input,
textarea,
select{
	font: 100% arial,sans-serif;
	vertical-align: middle;
}
form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
header, footer, article, section, hgroup, nav, figure { display: block; }
#wrapper{
	width:1200px;
	margin:0 auto;
	background:rgb(255,255,255);
}
body{
	font-size:14px;
	color:#494949;
}
#header:after{
	content='';
	display:block;
	clear:both;
}

#main:after{
	content='';
	display:block;
	clear:both;
}
.positioner{
	display:inline-block;
	vertical-align:bottom;
	margin-bottom:20px;
}
.header-logo{
	margin:30px 150px 0 0;
	text-indent:-9999px;
	width:190px;
	height:70px;
	background:url('../images/logo.png') no-repeat;
}
.header-logo a{
	display:block;
	width:100%;
	height:100%;
	text-indent:-9999px;
}
.search-form{
	width:500px;
	overflow:hidden;
	margin:0 185px 20px 0;
}
.search-form input[type="search"]{
	box-sizing:content-box;
	width:315px;
	height:35px;
	padding:0 15px;
	margin-right:-5px;
}
.search-form input[type="submit"]{
	width:120px;
	height:39px;
	text-align:center;
	background:rgb(0,174,219);
	color:#ffffff;
	font-size:19px;
	border:1px solid rgb(0,174,219);
	text-transform:uppercase;
	font-weight:bold;
}
.social{
	margin:0;
	padding:0;
}
.social li{
	display:inline-block;
	width:40px;
	height:63px;
	overflow:hidden;
}
.social .social-rss{
	background:url("../images/rss.png") no-repeat;
}
.social .social-fb{
	background:url('../images/facebook.png') no-repeat 0 -1px;
}
.social .social-tw{
	background:url('../images/twitter.png') no-repeat;
}
.social a{
	display:block;
	height:100%;
	width:100%;
	text-indent:-9999px;
}
.site-nav{
	font-size:19px;
	text-transform:uppercase;
	font-family:Helvetical TStd, Myriad Pro, Arial, regular;
	font-weight:bold;
}
.site-nav a{
	display:inline-block;
	color:#ffffff;
	padding:10px 20px;
	margin-right:-5px;
	background:rgb(137,137,137);
}
.site-nav .home{
	background:rgb(0,174,219);
}
.site-nav .cinema{
	background:rgb(140,198,163);
}
.site-nav .magazine{
	background:rgb(82,97,172);
}
.site-nav .cssauthor{
	background:rgb(0,174,219);
}
.site-nav .topmenu{
	background:rgb(247,123,29);
}
.site-nav .archives{
	background:rgb(255,0,0);
}
.site-nav .contact{
	width:360px;
}
.main-entry{
	font-size:14px;
	font-family:Arial, sans-serif;
	float:left;
	width:650px;
	margin-right:70px;
}
.main-entry:after{
	display:block;
	content:'';
	clear:both;
}
.post h2:before{
	float:left;
	content:'';
	width:69px;
	height:73px;
	background:url('../images/date.png') no-repeat;
	margin-right:10px;
	margin-top:8px;
}
.post h2{
	float:right;
	font-size:35px;
	color:#000000;
	line-height:47px;
}
.post p{
	float:left;
	margin-top:-10px;
	line-height:20px;
	margin-bottom:10px;
}
.post .post-images{
	float:left;
	width:750px;
	height:650px;
	border: 1px solid rgb(191,191,191);
	margin-bottom:45px;
}
.post-images .image-gallery{
	list-style:none;
	padding:0;
	margin:0;
}
.post-images>img{
	width:730px;
	padding:10px;
}
.image-gallery li{
	display:inline-block;
	width:172px;
	margin-left:10px;
}
.image-gallery li:first-child{
	margin-left:20px;
}
.image-gallery li img{
	border: 1px solid rgb(191,191,191);
}
.related-post,
.comments{
	float:left;
}
.related-post h3,
.comments h3,
.entry-comment h3,
.news h3{
	display:block;
	overflow:hidden;
	line-height:33px;
	padding-left:25px;
	text-transform:uppercase;
	margin:33px 0 0 0;
	font-family:regular, arial, sans-serif;
	font-size:17px;
	font-weight:bold;
	color:#ffffff;
	width:256px;
	height:67px;
	background:url('../images/tittle-bg.png') no-repeat;
}
.left-column{
	float:left;
	width:250px;
	margin:0 40px;
}
.right-column{
	float:right;
	width:250px;
}
.left-column ul,
.right-column ul{
	padding:0;
	margin:0;
	list-style-image:url('../images/list.png');
}
.left-column ul li a,
.right-column ul li a{
	display:block;
	padding:5px 10px;
}
.comment-write{
	float:left;
	overflow:hidden;
	margin:0;
	padding:0;
}
.comment-write input[type="text"]{
	padding:5px 0 5px 10px;
	width:425px;
	margin-left:10px;
	margin-bottom:25px;
	height:30px;
}
.comment-write #email,
.comment-write	#name{
	margin-left:35px;
}
.comment-write #website{
	margin-left:18px;
}
.comment-write textarea{
	padding:5px 0 5px 10px;
	width:425px;
	margin-left:10px;
	margin-bottom:25px;
	height:140px;
}
.comment-write label{
	display:inline-block;
	vertical-align:middle;
}
.comment-write input[type="submit"]{
	padding:10px 20px;
	background:rgb(247,143,29);
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	font-family:System, Arial;
	border:none;
	margin-left:380px;
}
.entry-comment{
	float:left;
}
.entry-comment .comment{
	position:relative;
	width:560px;
	padding:15px 0px;
}
.entry-comment .comment:last-child{
	margin-bottom:30px;
}
.entry-comment .comment img{
	float:left;
	margin-right:10px;
	wuidth:100%;
	height:100%;
}
.entry-comment .comment span{
	display:block;
}
.entry-comment .comment-info a{
	margin-right:100px;
	color:#5261ac;
	font-size:17px;
}
.comment .reply{
	color:#5261ac;
	font-size:17px;
	margin-left:500px;
}
.side-bar{
	width:350px;
	float:left;
	margin-left:100px;
}
.tabset{
	padding:0;
	margin:0;
	list-style:none;
	margin-top:-20px;
	background:#00aedb;
}
.tabset li{
	display:inline-block;
}
.tabset a{
	padding:10px 15px;
	font-size:19px;
	text-transofrm:uppercase;
	font-family:Regular;
	color:#ffffff;
	display:inline-block;
}
.tabset li:first-child{
	background:#ec098d;
}
.tabset li:nth-child(2){
	background:#f78f1d;
	margin-left:-4px;
}
.tabset li:last-child{
	margin-left:-4px;
}
.tabs-active{
	width:350px;
	height:110px;
	margin:1% 0;
	padding:5px 0;
	border-bottom:1px solid #dedddd;
}
.tabs-active:last-child{
	border:none;
}
.tabs-active .poster{
	float:left;
	width:88px;
	height:100px;
}
.tabs-active .content{
	float:right;
	width:262px;
	height:90px;
	font-size:13px;
}
.tabs-active .content p{
	line-height:17px;
}
.tabs-active .content strong a{
	font-size:15px;
	line-height:20px;
	color:#00aedb;
}
.medication{
	display:block;
	font-size:15px;
	line-height:20px;
	color:#00aedb;
	margin-top:20px;
}
.recomends h3,
.archives-bar h3,
.tags h3{
	display:block;
	overflow:hidden;
	line-height:33px;
	padding-left:25px;
	text-transform:uppercase;
	margin:33px 20px 0 0;
	font-family:regular, arial, sans-serif;
	font-size:17px;
	font-weight:bold;
	color:#ffffff;
	width:400px;
	height:45px;
	background:url('../images/like.bg.png') no-repeat;
}
.archives-bar{
	width:330px;
}
.archives-list{
	list-style-image:url('../images/list.png');
	padding:0;
	margin-left:25px;
}
.archives-list li{
	padding:10px 0;
	border-bottom:1px solid #dedddd;
	line-height:
}
.archives-list li a{
	color:#494949;
	font-size:13px;
	line-height:17px;
}
.tags{
	width:326px;
	height:660px;
}
.tags-cloud{
	padding-left:25px;
}
.tags a{
	line-height:30px;
	padding-right:5px;
}
.tags .tag-prior1{
	color:#f78f1d;
	font-weight:bold;
	font-size:25px;
}
.tags .tag-prior2{
	font-size:23px;
	color:#5261ac;
	font-weight:bold;
}
.tags .tag-prior3{
	color:#5261ac;
	font-size:21px;
	font-weight:bold;
}
.tags .tag-prior4{
	color:#5261ac;
	font-size:19px;
	font-weight:bold;
}
#footer{
	float:left;
	width:100%;
	height:30px;
	overflow:hidden;
}
#footer a{
	padding:30px 600px;
	color:#6a6666;
}

